@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url("../fonts/SFPRODISPLAYREGULAR.OTF");
}

body {
  background-color: black;
  font-family: "SFPRODISPLAYREGULAR", sans-serif;
}

.animated-border {
  position: relative;
  display: inline-block;
  width: 80%; /* Adjust as per your design */
  height: 65%; /* Adjust as per your design */
  border-radius: 16px;
  border: 4px solid transparent; /* Transparent base border */
  box-sizing: border-box; /* Prevent size change due to border */
  background: linear-gradient(90deg, purple, blue, cyan, green); /* Gradient background */
  background-clip: border-box; /* Make the gradient visible only on the border */
  animation: border-animation 3s linear infinite; /* Add animation */
}

@keyframes border-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-border-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background: white; /* Inner content background color */
  border-radius: 12px; /* Match inner radius to avoid overlap */
  overflow: hidden;
}

@layer utilities {
  /* Act as a border */
  .card-wrapper {
    @apply relative overflow-hidden;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      rgba(0, 204, 255, 0.4) 0deg,
      rgba(0, 255, 228, 0.4) 0deg,
      transparent 40deg
    );

    

    @apply absolute left-[-25%] top-[-25%] h-[150%] w-[150%] animate-border-spin content-[''];
  }

  /* Body */
  .card-content {
    @apply absolute left-[2px] top-[2px] h-[calc(100%-4px)] w-[calc(100%-4px)];
  }
}


@layer base {
  :root {
    --background: 	#ffffff;
    --foreground: 	#09090b;
    --card: #ffffff;
    --card-foreground: #09090b;
    --popover: #ffffff;
    --popover-foreground: 	#09090b;
    --primary: 	#18181b;
    --primary-foreground: #fafafa;
    --secondary: #f4f4f5;
    --secondary-foreground: 	#18181b;
    --muted: #f4f4f5;
    --muted-foreground: #71717a;
    --accent: #f4f4f5;
    --accent-foreground: 	#18181b;
    --destructive: 	#ef4444;
    --destructive-foreground: #fafafa;
    --border: #e4e4e7;
    --input: #e4e4e7;
    --ring: 	#18181b;
    --radius: 0.5rem;
    --chart-1: #e76e50;
    --chart-2: #2a9d90;
    --chart-3: #274754;
    --chart-4: #e8c468;
    --chart-5: #f4a462;
  }

  .dark {
    --background: #09090b;
    --foreground: #fafafa;
    --card: #09090b;
    --card-foreground: 	#fafafa;
    --popover: #09090b;
    --popover-foreground: #fafafa;
    --primary: 	#fafafa;
    --primary-foreground: 	#18181b;
    --secondary: 	#27272a;
    --secondary-foreground: #fafafa;
    --muted: 	#27272a;
    --muted-foreground: #a1a1aa;
    --accent: #27272a;
    --accent-foreground: #fafafa;
    --destructive: #7f1d1d;
    --destructive-foreground: #fafafa;
    --border: #27272a;
    --input: #27272a;
    --ring: #d4d4d8;
    --chart-1: 	#2662d9;
    --chart-2: 	#2eb88a;
    --chart-3: #e88c30;
    --chart-4: #af57db;
    --chart-5: 	#e23670;
  }
}

